$background-color: #3f3f50;
// $text-color: #c3daffb3;
$text-color: #ffb591;
$text-shadow: 1px 1px #010101;
$transitions: (
  "fast": 0.3s,
  "slow": ease-in 2s,
);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);
