* {
  margin: 0;
  padding: 0;
}

html {
  background-color: #3f3f50;
}

@font-face {
  font-family: shapiroLight;
  src: url(fonts/shapiroLight.otf);
}
@font-face {
  font-family: shapiroBold;
  src: url(fonts/shapiroFeather.otf);
}

@font-face {
  font-family: shapiroAir;
  src: url(/fonts/shapiroAir.ttf);
}

h1 {
  font-family: shapiroAir;
}

form {
  width: 300px;
  margin: auto;
  background-color: #3f3f50;
}

/* input {
  height: 25px;
  margin-bottom: 20px;
} */

.next {
  width: 50%;
}

#identity {
  display: flex;
  flex-direction: column;
}

fieldset {
  all: unset;
}

input[type="checkbox"] {
  appearance: none;
  background-color: #fafafa;
  border: 3px solid #00ffff;
 inline-size: 30px;
}

input[type="checkbox"] label {
  position: absolute;
  top: 0;
}

input[type="checkbox"]:active {}
input[type="checkbox"]:checked {}